*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Css Footer */

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.footer_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

.icon_footer {
    width: 30px;
    height: 30px;
    color: #333333;
}

/* Css page votes */

.container_votes{
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 90%;
}

.intro_votes {
    background-color: #6666;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 3rem 2rem;
    margin-bottom: 2.5rem;
}

.intro_votes h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #333333;
    display: flex;
    align-items: center;
    gap: 10px;
}

.intro_votes p {
    font-size: 1.2rem;
}

.card_chaussette{
    display:flex;
    flex-direction: column;
    align-self: center;
    box-shadow: #33333333 0px 4px 8px 0px;
    border-radius: 10px;
    padding: 2rem;
    margin-bottom: 2rem;
}

.block_haut{
    display: flex;
    align-items: center;

}

.img_socks{
    width: 75px;
    height: 75px;
    margin-right: 1rem;
    border-radius: 10px;
    cursor: pointer;
    pointer-events: auto;
}

.block_haut {
    padding-bottom: 2rem;
    border-bottom: 1px solid #33333333;
}

.block_bas{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.vote_socks{
    margin: 2rem 0;
}

button{
    background-color: transparent;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}


.image_zoom {
    position: fixed; 
    top: 10%; 
    left: 10%; 
    transform: none; 
    height: 500px; 
    width: 80%;
    z-index: 10;
    display: none;
    border-radius: 10px; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    transition: width 0.5s ease, height 0.5s ease;
}

.image_zoom.active {
    display: block;
    transform: scale(1.02);
}

.image_zoom.out {
    transform: scale(0); 
}

.croix{
    position: fixed;
    top: 9.5%;
    left: 9.5%;
    z-index: 12;
    display: none;
    padding: 0.2rem;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: red;
    border-top-left-radius: 10px;
    color: white;
}

.croix.active {
    display: block;
    transform: scale(1.02);
}
