*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Css Footer */

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.footer_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

.icon_footer {
    width: 30px;
    height: 30px;
    color: #333333;
    margin: 10px;
}

